<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("./partials/head") %>
    <title><%= blog.title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
      rel="stylesheet"
    />
    <style>
      /* Made by Himesh Premji */
      /* Made by 22Hems on INSTAGRAM */
      body {
        background-color: #f8f9fa;
      }
      .blog-container {
        max-width: 1100px;
        margin: auto;
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      .blog-title {
        text-align: center;
        color: #343a40;
      }
      .blog-image {
        width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 20px;
      }
      .blog-author,
      .blog-body {
        font-family: 'Lora', serif;
        background: #f4f4f4;
        padding: 15px;
        border-radius: 8px;
        white-space: pre-wrap;
        word-wrap: break-word;
        font-size: 16px;
        line-height: 1.5;
      }
      .blog-author {
        font-family: Arial, Helvetica, sans-serif;
      }
    </style>
  </head>
  <body>
    <%- include("./partials/navbar") %>
    <div class="container mt-4">
      <div class="blog-container">
        <img
          src="/<%= blog.coverImageURL %>"
          alt="Blog Image"
          class="blog-image"
        />
        <h2 class="text-start blog-title"><%= blog.title %></h2>
        <pre class="blog-body"><%= blog.body %></pre>
        <p class="blog-author text-end">Created by <%= user.fullName %></p>
      </div>
    </div>
    <%- include("./partials/scripts") %>
  </body>
</html>
